<section class="section">
	<div class="container">
		<h3>Collapsible Navbar</h3>
		<div class="row">
			<div class="col-sm-4" style="margin-top: 25px">
				<div align="center">
					<img src="static/images/jagadeesh.png"
						style="border: 5px solid #cccc; border-radius: 100px;"></img>
					<p style="font-size: 20px;">
						<b>Managing Director & CEO & Enterprise Architect</b>
					</p>
				</div>
			</div>
			<div class="col-sm-8" style="margin-top: 25px">
				<p>Jagadeesh Corporate Services (JCS) Hub is a highly
					experienced offshore out sourcing company with its offices in
					India. The efficient project management and technical support
					services at customer's location guarantees the successful execution
					of each project. The services provided are variant and adapted to
					the satisfaction and style of the clients. To support the
					increasing needs of clients and partners, the company has geared up
					an assortment of Professional Analysts, Enterprise Architects,
					Designers, Developers and Quality Assurance Engineers. Depending on
					the ever-changing requirements, we come up with the essential and
					up-to-date tools and skills to enhance the clients' confidence in
					us.</p>
				<br>

				<p>JCS Hub is specializing in technology solutions, deployment
					and management of global enterprise solutions for large
					corporations across industry verticals on a global delivery
					platform.</p>
				<br>

				<p>We are committed to provide high-quality technological
					solutions and value-based IT-program management for enterprise-wide
					systems. We have the flexibility to accommodate the changing
					demands of our clients. We gain competitive edge by leveraging the
					right mix of technology, people, and processes to achieve strategic
					objectives. Our team of domain experts ensures that IT initiatives
					are tied to business imperatives through quantifiable metrics.</p>
				<br>

				<p>JCS Hub - we believe it as an expression of our creative,
					innovative and ground-breaking ideas and experience.</p>
			</div>
		</div>
	</div>
</section>
