<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Carousel</h2>
				<div id="myCarousel" class="carousel slide" data-ride="carousel"
					data-interval="2000" style="margin-top: 30px">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img src="static/images/p1.jpeg" style="width: 100%;"></img>
							<div class="carousel-caption">
								<h3>IMAGE1</h3>
								<p>business</p>
							</div>
						</div>
						<div class="item">
							<img src="static/images/p2.jpeg" style="width: 100%;"></img>
							<div class="carousel-caption">
								<h3>IMAGE2</h3>
								<p>business</p>
							</div>
						</div>
						<div class="item">
							<img src="static/images/download2.jpg" style="width: 100%;"></img>
							<div class="carousel-caption">
								<h3>IMAGE3</h3>
								<p>business</p>
							</div>
						</div>
						<a class="left carousel-control" href="#myCarousel"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only"></span>
						</a> <a class="right carousel-control" href="#myCarousel"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6" style="margin-top: 50px">
				<div id="idm">
					<h3>Infrastructure & Data Management Services :</h3>
					<p>Information Technology Infrastructure and Data Management
						services are core to any business in servicing its clients.
						Recognizing that no business or Information Technology environment
						is static, JCS Hub works with clients in creating fluid
						environments that align their Information Technology service
						delivery with business management goals thereby ensuring business
						growth.</P>
					<p>Our infrastructure services have great customer satisfaction
						rating by continuing to deliver high-quality services for our
						customers.</P>
					<p>Service Help Desk : Proper development and management of a
						helpdesk improves profits and contribute to revenue growth. We
						provide a full range of helpdesk support, based on Information
						Technology Infrastructure Library (ITIL) best practices, with a
						proven track record of client satisfaction.</P>
				</div>
				<h6>{{msg}}</h6>
			</div>
		</div>
		<div>
			<h1 style="text-align: center">Our Practice Areas</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<i class="fa fa-male"
					style="text-align: center; color: red; font-size: 50px;"></i><br>
				<p>
					<strong>Human Capital</strong>
				</p>
				Human Capital leverages research, analytics, and industry insights
				to help design and execute critical programs from business driven HR
				to innovative talent, leadership, and change programs.
			</div>
			<div class="col-sm-4">
				<i class="fas fa-chess-knight"
					style="text-align: center; color: red; font-size: 50px;"></i><br>
				<p>
					<strong>Strategy & Operations</strong>
				</p>
				Works with senior executives to help them solve their toughest and
				most complex problems by bringing an approach to executable strategy
				that combines deep industry knowledge and insight.
			</div>
			<div class="col-sm-4">
				<i class="fa fa-microchip"
					style="text-align: center; color: red; font-size: 50px;"></i><br>
				<p>
					<strong>Technology</strong>
				</p>
				Delivers solutions that help drive transformation, improve
				productivity and streamline business operations. Our practical,
				innovative solutions are linked to measurable goals to help our
				clients.
			</div>
		</div>
		<div class="row"
			style="margin-top: 50px; background-image: url(static/images/news-bg.jpg) !important; height: 200px;">
			<div class="col-sm-8" style="margin-top: 20px; color: white;">
				<h3>We look forward to doing great things with you</h3>
				<h3>anywhere in the world.</h3>
			</div>
			<div class="col-sm-4" style="margin-top: 20px; color: white;">
				<h4>
					<a href="#" type="button">GET A QUOTE<i
						class="fa fa-chevron-right"></i></a>
				</h4>
			</div>
		</div>

		<div>
			<h1 style="text-align: center">Request a Call back.</h1>
		</div>
		<div class="row" style="margin-top: 50px;">
			<div class="col-sm-6">
				Do you have questions about how Consulting WP can help your company?
				Send us an email and we’ll get in touch shortly, or phone between
				8:00 and 18:00 Monday to Friday — we would be delighted to speak.
				<br>
				<br>
				<i class="fa fa-phone-square"
					style="color: #d50000; font-size: 50px;"></i> <strong>+919700747401</strong>
				<i class="fa fa-envelope" style="color: #d50000; font-size: 50px;"></i>
				<a href="#"><strong style="color: black;">jagadeesh@jcshub.com</strong></a>
			</div>
			<div class="col-sm-6">
				<input type="text"
					style="width: 200px; padding: 15px; margin: 5px 0 22px 0; display: inline-block; border: none; background: #f1f1f1;"
					placeholder="First Name"> 
				<select type="text"
					style="width: 200px; padding: 15px; margin: 5px 0 22px 0; display: inline-block; border: none; background: #f1f1f1;">
					<option>Financial Projectons</option>
					<option>Trade& Stocks</option>
					<option>Strategic Planning</option>
					<option>Audit & Assurence</option>
				</select>
				<input type="text"
					style="width: 200px; padding: 15px; margin: 5px 0 22px 0; display: inline-block; border: none; background: #f1f1f1;"
					placeholder="Phone Number" />
				<button
					style="width: 100px; padding: 15px; margin: 5px 0 22px 0; display: inline-block; border: none; background: #d50000;">
					<a id="sub" href="#">SUBMIT<i
						class=" fa fa-chevron-right stm_icon"></i></a>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6">
				<p>Your details are kept strictly confidential as per our <a href="">Privacy Policy.</a></p>
			</div>
		</div>
	</div>
</section>