<section>
<h2>hello</h2>
<div class="container">
<div class="row">
	<div class="col-sm-12 ">
			<div class="col-sm-3">
				<a href="">
					<img width="100%" height="182" src="static/images/jcs01.jpg"> 
					<h5 ><a href="" ><strong style="color:rgb(213, 0, 0);">Consulting & Advisory Services</strong></a></h5>
					<p>Our business process advisory approach is founded on the basic systems engineering methodology….</p>
					<a  style="color:black;" class="read_more" href="">
					<span><strong>read more</strong></span>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a><br><br><br>

				<a href="">
					<img width="100%" height="182" src="static/images/jcs03.jpg"> 
					<h5><a href=""><strong style="color:rgb(213, 0, 0);">Application Development</strong></a></h5>
					<p>JCS Hub will help you to get the most out of your web based Applications by combining them with a database, thus creating a highly sophisticated and dynamic website that is fast, efficient,…</p>
					<a style="color:black;" class="read_more" href="">
					<strong>read more</strong>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a><br><br>

				<a href="">
					<img width="100%" height="182" src="static/images/jcs06.jpg"> 
					<h5><a href=""><strong style="color:rgb(213, 0, 0);">Trade & Logistic Services</strong></a></h5>
					<p>JCS Hub, by understanding your business goals, we partner with you to develop a best-in-class Trade & Logistic services designed for your future success.…</p>
					<a style="color:black;" class="read_more" href="">
					<strong>read more</strong>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a>
			</div>
	
			<div class="col-sm-3">
				<a href="">
					<img width="100%" height="182" src="static/images/jcs08.jpg"> 
					<h5><a href=""><strong style="color:rgb(213, 0, 0);">Enterprise Architecture</strong></a></h5>
					<p>Enterprise Architecture is one of the most powerful management tools used by progressive organizations. As a perfect vehicle for making multi-year…</p>
					<a style="color:black;" class="read_more" href="">
					<strong>read more</strong>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a><br><br>
				
				<a href="">
					<img width="100%" height="182" src="static/images/jcs04.jpg"> 
					<h5><a href=""><strong style="color:rgb(213, 0, 0);">Infrastructure & Data Management Services:</strong></a></h5>
					<p>Information Technology Infrastructure and Data Management services are core to any business in servicing their clients. Our infrastructure services have great …</p>
					<a style="color:black;" class="read_more" href="">
					<strong>read more</strong>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a><br><br>
				
				<a href="">
					<img width="100%" height="182" src="static/images/jcs07.jpg"> 
					<h5><a href=""><strong style="color:rgb(213, 0, 0);">Recruitment & Placement Services</strong></a></h5>
					<p>Our Recruitment & Placement services give you on-demand assistance to manage recruitment spikes, short-term recruiting projects and specialized needs without the added overhead.</p>
					<a style="color:black;"class="read_more" href="">
					<strong>read more</strong>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a>
				
			</div>
			
			<div class="col-sm-3">
				<a href="">
					<img width="100%" height="182" src="static/images/jcs02.jpg"> 
					<h5><a href=""><strong style="color:rgb(213, 0, 0);">ERP Business Services</strong></a></h5>
					<p>JCS Hub is expertise in implementation of Oracle ERP solutions based on the Customer needs.The ERP implementation …..</p>
					<a style="color:black;"class="read_more" href="">
					<strong>read more</strong>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a><br><br>
				
				<a href="">
					<img width="100%" height="182" src="static/images/jcs05.jpg"> 
					<h5><a href=""><strong style="color:rgb(213, 0, 0);">Pharma & Distribution Services</strong></a></h5>
					<p>Our mission as your distribution partner is to help you improve the quality of care and service you deliver to patients and customers, and drive better financial…</p>
					<a style="color:black;"class="read_more" href="">
					<strong >read more</strong>
					<i class=" fa fa-chevron-right stm_icon"></i>
				</a>
				
			</div>
			<div class="col-sm-3">
			<div class="container-fuild" >
			<div class="col-sm-12" style="background-color:rgb(175, 26, 26);">
			<div><h4><strong>how can we help you?</strong></h4></div>
			<div>Contact us at the JCS Hub office nearest to you or submit a business inquiry online.</div><br>
			<div >
			<a href="">
			<i class="vc_btn3-icon fa fa-phone-square" style="font-size:50px;color:green;"></i> CONTACT
			</a>
			
			</div>
			
			</div>
			
			</div>
			</div>
	</div>
</div>
</div>
</section>